.dropdown-menu li a {
  color: black !important;
}
.navbar {
  background-color: #05a855;
  color: #fff !important; /* Slate Gray text */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand h2 {
  font-weight: bolder !important;
  color: #fff !important;
}

.navbar-toggler i {
  font-size: 2.9rem !important;
  font-weight: bolder !important;
  color: #fff !important;
}

#navbarNav ul li a {
  font-size: 1.3rem !important;
  font-weight: bold !important;
  color: #fff;
}
