.dropdown:hover > .dropdown-menu {
  display: block;
  margin-top: 0;
}
.navbar {
  background-color: #ffffff;
  color: #1f2937; /* Slate Gray text */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand h2 {
  font-weight: bolder !important;
}

.navbar-toggler i {
  font-size: 2.9rem !important;
  font-weight: bolder !important;
}

#navbarNav ul li a {
  font-size: 1.3rem !important;
  font-weight: bold !important;
}
.sidebar {
  border-right: 1px solid #1f2937;
  display: flex;
  justify-content: center;
}

.sidebar ul li a {
  font-size: 1.4rem !important;
  font-weight: bold !important;
  color: #1f2937 !important;
}

.sidebar ul li {
  background-color: #a5a4a4 !important;
  padding: 10px 10px !important;
}
